<nav class="navbar navbar-default clg-navbar">
    <ul class="nav navbar-nav pull-left">
        <li>
            <a href="javascript: void( 0 )" 
                class="clg-toggle-menu-btn nj-dropdown-toggle" 
                ng-click="">
<!--                 <i class="glyphicon glyphicon-align-justify animated bounceInDown"></i> -->
                <!-- <img src="images/logo.png" style="
                    height: 45px;
                    position: absolute;
                    top: -2px;
                    left: 0;
                    width: 100px;
                "> -->
                <span style="
				    font-family: Samarkan Normal;
				    font-size: 18px;
				    font-weight: bold;
				    color: #9c27b0;
				    text-decoration: underline;
				">NJ</span>
				<sub style="
				    color: #4caf50;
				">Technology</sub>
            </a>
        </li>
    </ul>
    <div class="pull-right">
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a href="javascript: void( 0 )" 
                    data-toggle="dropdown" 
                    role="button" 
                    aria-haspopup="true" 
                    aria-expanded="false"
                    class="dropdown-toggle nj-dropdown-toggle">
                    <i class="fa fa-envelope-o" 
                        aria-hidden="true"></i>
                    <span class="badge badge-default">
                        7
                    </span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li class="ddm-header">You have 3 messages</li>
                    <li ng-repeat="mail in hVm.data.emails">
                        <a href="javascript: void( 0 )">
                            <div>
                                <img src="" />
                            </div>
                            <h4>
                                Support
                                <small>
                                    <i class="fa fa-clock"></i>
                                    5 mins
                                </small>
                            </h4>
                            <p>{{ mail.text }}</p>
                        </a>
                    </li>
                    <li class="ddm-footer">
                        <a href="javascript: void(0)">
                            See All Messages
                        </a>
                    </li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="javascript: void( 0 )" 
                    data-toggle="dropdown" 
                    role="button" 
                    aria-haspopup="true" 
                    aria-expanded="false"
                    class="dropdown-toggle nj-dropdown-toggle">
                    <i ng-class="{ 'swing': hVm.data.swingNt }" 
                        class="fa fa-bell-o animated" 
                        aria-hidden="true"></i>
                    <span class="badge badge-default">
                        3
                    </span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right nt-dd">
                    <li class="nt-dd-header">
                        You have 
                        <b>{{ hVm.data.unreadNtCount }} unread </b>
                        notifications
                    </li>
                    <li class="nt-dd-item" 
                        ng-click="hVm.fn.markNotificationAsRead( $event, nt )" 
                        ng-repeat="nt in hVm.data.notifications">
                        <span class="nt-icon">
                            <i class="fa fa-anchor" 
                                aria-hidden="true">
                            </i>
                        </span>
                        <span class="nt-text" 
                            ng-class="{ 'un-read': nt.status == 1 }">
                            {{ nt.text }}   
                        </span>
                        <span class="nt-time">{{ nt.time }}</span>
                    </li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="javascript: void( 0 )" 
                    class="dropdown-toggle nj-dropdown-toggle" 
                    data-toggle="dropdown" 
                    role="button" 
                    aria-haspopup="true" 
                    aria-expanded="false">
                    <img class="round-box" src="images/ejaz.jpg" />
                    <span class="logged-in-user-name">
                        {{ hVm.data.loggedInUser.userName }}
                    </span>
                    <i class="fa fa-angle-down" 
                    aria-hidden="true"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <div style="
                            height: 100px;
                            width: 100px;
                            margin: 0 auto;
                            text-align: center;
                        ">
                            <img src="images/ejaz.jpg" style="
                                width: 75px;
                                height: 75px;
                                border-radius: 50%;
                                display: block;
                                margin: 0 auto;
                            ">
                            <label>EJAZ</label>
                        </div>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="javascript:void(0)">
                            Profile
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            Account Settings
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="javascript:void(0)">
                            Logout
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>