<div class="d-special-page full-size">
    <div class="d-manage-page full-size" ng-if="tab.type == 1">
        <div class="d-manage-page-left pull-left">
<!--             <ul id="manageTabs" class="nav nav-tabs"> -->
<!--                 <li class="active"><a href="#workspaces" data-toggle="tab">Workspaces</a></li> -->
<!--                 <li><a href="#trash" data-toggle="tab">Trash</a></li> -->
<!--             </ul> -->
<!--             <div id="manageContents" class="tab-content"> -->
<!--                 <div class="tab-pane fade active in" id="workspaces"> -->
<!--                     <ul> -->
<!--                         <li>Workspace-1</li> -->
<!--                         <li>Workspace-2</li> -->
<!--                         <li>Workspace-3</li> -->
<!--                     </ul> -->
<!--                 </div> -->
<!--                 <div class="tab-pane fade" id="trash"> -->
<!--                     trash -->
<!--                 </div> -->
<!--             </div> -->
        <ul ng-init="getAllDashboards()">
            <li ng-click="openFromServer( md.id )" ng-if="md.type == 5" ng-repeat="md in mdList">{{ md.label }}</li>
        </ul>
        </div>
        <div class="d-manage-page-right pull-right">
        </div>
    </div>
    <div class="d-settings-page full-size" ng-if="tab.type == 2">
        <ul id="settingsTabs" class="nav nav-tabs">
            <li class="active"><a href="#general" data-toggle="tab">General</a></li>
            <li><a href="#preference" data-toggle="tab">Preference</a></li>
            <li><a href="#advance" data-toggle="tab">Advance</a></li>
        </ul>
        <div id="manageContents" class="tab-content">
            <div class="tab-pane fade active in" id="general">
                General
            </div>
            <div class="tab-pane fade" id="preference">
                Preference
            </div>
            <div class="tab-pane fade" id="advance">
                Advance
            </div>
        </div>
    </div>
</div>