<!DOCTYPE html>
<html ng-app="test-app" strict-di>
   <head>
      <head>
        <meta charset="ISO-8859-1">
        <title>Test::APP</title>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.6/angular.min.js"></script>
        <script type="text/javascript" src="src/test-app.js"></script>
    </head>
   </head>
   <body ng-controller="test-ctrl">
       <input type="text" ng-model="itemName" placeholder="Search" /> By
       <select ng-change="onChange()" ng-model="opn" ng-options="key as key for (key , value) in filterBy"></select>
       <div ng-repeat="item in items | search :itemName :opn">
          <pre>
            {{item}}
          </pre>
       </div>
   </body>
</html>