<div class="full-size d-container" 
    ng-init="init()">
    <div class="full-height d-wrapper pull-left">
        <div class="full-size d-main">
            <div class="d-tab-pane">
                <ul class="nav nav-tabs d-tabs pull-left">
                    <li class="d-add-tab-li dropdown">
                        <a href="javascript: void( 0 )" 
                            data-toggle="dropdown"
                            ng-click="showDesignerMenu( $event )" 
                            class="dropdown-toggle d-dashboard-menu-btn">
                                <i class="glyphicon glyphicon-align-justify"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li ng-click="openTab( $event, 'MANAGE' )">
                                <a href="javascript: void( 0 )">
                                    Manage
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li ng-click="openTab( $event, 'SETTINGS' )">
                                <a href="javascript: void( 0 )">
                                    Settings
                                </a>
                            </li>
                            <li ng-click="openFromLocal( $event )">
                                <a href="javascript: void( 0 )">
                                    Open from local
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="javascript: void( 0 )">
                                    Help
                                </a>
                            </li>
                            <li>
                                <a href="javascript: void( 0 )">
                                    Exit
                                </a>
                            </li>
                        </ul>
                    </li>
                    <!-- TABS -->
                    <li class="d-tab" ng-repeat="tab in openTabs track by tab.id">
                        <a id="{{ 'TAB_' + tab.id }}" 
                            data-toggle="tab" href="{{ '#' + tab.id }}">
                            <sup ng-if="tab.type != 1" class="d-unsaved">*</sup>
                            {{ tab.title }}
                        </a>
                        <a ng-click="closeTab( $event, tab )" 
                            href="javascript: void( 0 )" 
                            class="d-dashboard-remove-btn">
                            <i class="glyphicon glyphicon-remove pull-right"></i>
                        </a>
                    </li>
                    <!-- ADD DASHBOARD BTN -->
                    <li class="d-add-tab-li">
                        <a data-toggle="tab" href="#">
                            &nbsp;
                        </a>
                        <a href="javascript: void( 0 )" 
                            ng-click="openTab( $event, 'DASHBOARD' )" 
                            class="d-dashboard-remove-btn">
                                <i class="glyphicon glyphicon-plus pull-right"></i>
                        </a>
                    </li>
                </ul>
                <!-- DASHBOARD BUTTONS -->
                <ul class="d-control-btn-container pull-right">
                    <li ng-show="openDashboardIds.length > 0"  class="d-control-btn">
                        <a href="javascript: void( 0 )" ng-click="previewDashboard( $event )">
                            <i class="glyphicon glyphicon-eye-open"></i>
                        </a>
                    </li>
                    <li ng-show="openDashboardIds.length > 0"  class="d-control-btn">
                        <a href="javascript: void( 0 )" ng-click="saveDashboard( $event )">
                            <i class="glyphicon glyphicon-floppy-disk"></i>
                        </a>
                    </li>
                    <li ng-show="openDashboardIds.length > 0"  class="d-control-btn">
                        <a href="javascript: void( 0 )" ng-click="exportToLocalDisk( $event )">
                            <i class="glyphicon glyphicon glyphicon-save"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="d-tab-content-pane tab-content">
                <!-- TAB CONTENT -->
                <div id="{{ tab.id }}" 
                    class="d-dashboard-wrapper d-dashboard-wrapper-full tab-pane fade" 
                    ng-repeat="tab in openTabs track by tab.id">
                    <nj-dashboard ng-init="init()" ng-if="tab.type == 0"></nj-dashboard>
                    <nj-special ng-if="tab.type == 1"></nj-special>
                </div>
                <div class="panel panel-default d-dataset-panel" style="display: none">
                    <div class="panel-heading">Data Set::{{ getSelectedWidgetsFromSelectedDashboard()[ 0 ].wName }}</div>
                    <div class="panel-body">
                        <form class="form-horizontal">
                            <div class="form-group d-form-group">
                                <label for="dProvider" class="col-sm-4 control-label">Data Provider</label>
                                <div class="col-sm-6">
                                    <select id="dProvider" class="form-control input-md full-width"
                                        ng-options="dProvider as dProvider.label for dProvider in getSelectedDashboard().DataProvider.Offline.connections track by dProvider.id" 
                                        ng-model="sDataProvider">
                                    </select>
                                </div>
                            </div>
                        </form>
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#fields" data-toggle="tab">Fields</a></li>
                            <li class="disabled"><a href="#fProps" data-toggle="tab">Properties</a></li>
                        </ul>
                        <div id="dataSetContent" class="tab-content">
                            <div class="tab-pane fade active in" id="fields">
                                <div class="col-sm-6 f-drag-container">
                                    <h6 class="f-header">Fields</h6>
                                    <ul class="f-item-container" id="FIELDS">
                                        <li jq-draggable="fDragConfig"
                                            drag-data="field" 
                                            ng-repeat="field in sDataProvider.sheets[ 0 ].fields">
                                            {{ field.label }}
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-sm-6 f-drop-container">
                                    <h6 class="f-header">Dimensions</h6>
                                    <ul class="f-item-container" 
                                        id="DIMS"
                                        jq-droppable="fDropConfig">
                                        <li ng-repeat="dim in getSelectedWidgetsFromSelectedDashboard()[ 0 ].dataSets[ 0 ].dimensions track by dim.id">
                                            {{ dim.label }}
                                            <div class="f-highlighter" ng-show="dim.selected"></div>
                                            <a class="pull-right" ng-click="removeDimension( $event, dim )">
                                                <i class="glyphicon glyphicon-remove"></i>
                                            </a>
                                        </li>
                                    </ul>
                                    <h6 class="f-header">Measures</h6>
                                    <ul class="f-item-container" 
                                        id="MES"
                                        jq-droppable="fDropConfig">
                                        <li ng-repeat="mes in getSelectedWidgetsFromSelectedDashboard()[ 0 ].dataSets[ 0 ].measures track by mes.id">
                                            {{ mes.label }}
                                            <div class="f-highlighter" ng-show="mes.selected"></div>
                                            <a class="pull-right" ng-click="removeMeasure( $event, mes )">
                                                <i class="glyphicon glyphicon-remove"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="fProps">
                                <form class="form-horizontal">
                                    <div class="form-group d-form-group">
                                        <label for="fName" class="col-sm-4 control-label">Field Name</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control d-input-md" id="fName" placeholder="Name">
                                        </div>
                                    </div>
                                    <div class="form-group d-form-group">
                                        <label for="dName" class="col-sm-4 control-label">Display Name</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control d-input-md" id="dName" placeholder="Display Name">
                                        </div>
                                    </div>
                                    <div class="form-group d-form-group">
                                        <label for="fVisible" class="col-sm-4 control-label">Visible</label>
                                        <div class="checkbox col-sm-6">
                                              <label>
                                                    <input type="checkbox" id="fVisible">
                                              </label>
                                        </div>
                                    </div>
                                    <div class="form-group d-form-group">
                                        <label for="fColor" class="col-sm-4 control-label">Color</label>
                                        <div class="col-sm-6">
                                            <input type="color" class="form-control d-input-md" id="fColor">
                                        </div>
                                    </div>
                                    <div class="form-group d-form-group">
                                        <label for="fOpacity" class="col-sm-4 control-label">Opacity</label>
                                        <div class="col-sm-6">
                                            <input type="number" class="form-control d-input-md" id="fOpacity">
                                        </div>
                                    </div>
                                    <div class="form-group d-form-group">
                                        <label for="pShape" class="col-sm-4 control-label">Point Shape</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control d-input-md" id="pShape">
                                        </div>
                                    </div>
                                    <div class="form-group d-form-group">
                                        <label for="pRadius" class="col-sm-4 control-label">Point Radius</label>
                                        <div class="col-sm-6">
                                            <input type="number" class="form-control d-input-md" id="pRadius">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="btn-group pull-right">
                            <a href="javascript: void( 0 )" 
                              class="btn btn-default btn-sm" 
                              ng-click="closeDatasetBuilder()">
                              Done
                            </a>
                        </div>
                        <div class="pull-clear"></div>
                    </div>
                </div>
            </div>
            <div class="full-height d-right-pane d-right-pane-hide">
                 <div class="d-right-pane-body">
                    <div class="row">
                        <div class="col-md-10 d-w-search-container">
                            <form class="form-horizontal" role="form">
                                <div class="form-group">
                                    <div class="col-md-offset-1">
                                        <input type="text" 
                                            ng-model="searchTxt"
                                            style="margin-top: 5px;"
                                            class="form-control input-md" 
                                            placeholder="Search widget"
                                            id="widget-search" />
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-2 d-w-view-switch-container">
                            <a href="javascript: void( 0 )" class="d-w-view-switcher">
                                <i class="glyphicon glyphicon-th"></i>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 d-w-group-container">
                            <div style="min-width: 298px;">
                                <ul class="d-w-group-wrapper">
                                    <li ng-class="{'active': g.active}" 
                                       ng-repeat="g in widgetExpGroups" 
                                       ng-click="groupClicked( $event, g )" 
                                       class="d-w-group-item">
                                       <img class="full-size" 
                                           ng-src="images/chart.png" />
                                       <label>{{ g.label }}</label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="d-w-g-separator">
                        <div class="pointer" style="left: 36px;"></div>
                    </div>
                    <div class="row" style="height: calc( 100% - 145px );">
                        <div class="col-md-12 full-height">
                            <div class="full-height">
                                <ul class="d-w-list-group full-height">
                                    <li class="d-w-list-item" 
                                        ng-if="w.active" 
                                        ng-repeat="w in fWidgetList = ( widgetList | search :searchTxt : 'label' )" 
                                        drag-data="w"
                                        jq-draggable="wExpItemDragCfg">
                                        <a href="">
                                            <i class="glyphicon glyphicon-th"></i>
                                        </a>
                                        {{ w.label }}
                                    </li>
                                    <li ng-show="fWidgetList.length == 0">No Item found</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                 </div>
                 <div class="d-right-pane-footer">
                    <label class="pull-left">Widgets::{{ wExpGrLastClicked.label }}</label>
                    <a href="javascript: void( 0 )" 
                        class="pull-right" 
                        ng-click="toggleRightPane( $event )">
                        <i class="glyphicon glyphicon-remove"></i>
                    </a>
                 </div>
            </div>
        </div>
<!--        <div class="full-size d-other"> -->
<!--            Other -->
<!--        </div> -->
    </div>
    <div class="full-height d-main-control pull-right">
        <ul class="list-group full-height d-main-menu d-hf-menu">
            <li ng-show="openDashboardIds.length > 0" 
                ng-click="toggleRightPane( $event )"
                class="list-group-item clg-menu-item" >
                <a href="javascript: void( 0 )" 
                    class="clg-icons pull-left">
                    <i class="glyphicon glyphicon-align-justify"></i>
                </a>
                Data Sources
            </li>
            <li ng-show="openDashboardIds.length > 0" 
                class="list-group-item clg-menu-item" >
                <a href="javascript: void( 0 )" 
                    class="clg-icons pull-left">
                    <i class="glyphicon glyphicon-trash"></i>   
                </a>
                Widgets Explorer
            </li>
            <li ng-show="openDashboardIds.length > 0" 
                class="list-group-item clg-menu-item" >
                <a href="javascript: void( 0 )" 
                    class="clg-icons pull-left">
                    <i class="glyphicon glyphicon-remove"></i>  
                </a>
                Object Browser
            </li>
            <li ng-show="openDashboardIds.length > 0" 
                class="list-group-item clg-menu-item" >
                <a href="javascript: void( 0 )" class="clg-icons pull-left">
                    <i class="glyphicon glyphicon-eye-open"></i>    
                </a>
                Widgets Attributes
            </li>
        </ul>
    </div>
</div>
