<div class="full-size d-container" 
    ng-init="init()">
    <div class="full-height d-wrapper pull-left">
        <div class="full-size d-main">
            <div class="d-tab-pane">
                <ul class="nav nav-tabs d-tabs pull-left">
                    <li class="d-add-tab-li dropdown">
                        <a href="javascript: void( 0 )" 
                            data-toggle="dropdown"
                            ng-click="showDesignerMenu( $event )" 
                            class="dropdown-toggle d-dashboard-menu-btn">
                                <i class="glyphicon glyphicon-align-justify"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li ng-class="{ 'divider': ddMenu.divider }" 
                                ng-repeat="ddMenu in ddMenuList" 
                                ng-click="handleDDMenuClick( $event, ddMenu )">
                                <a>{{ddMenu.label}}</a>
                            </li>
                        </ul>
                    </li>
                    <!-- TABS -->
                    <li class="d-tab" ng-repeat="tab in openTabs track by tab.id">
                        <a id="{{ 'TAB_' + tab.id }}" 
                            data-toggle="tab" href="{{ '#' + tab.id }}">
                            <sup ng-if="tab.type == 0" class="d-unsaved">*</sup>
                            {{ tab.title }}
                        </a>
                        <a ng-click="closeTab( $event, tab )" 
                            href="javascript: void( 0 )" 
                            class="d-dashboard-remove-btn">
                            <i class="glyphicon glyphicon-remove pull-right"></i>
                        </a>
                    </li>
                    <!-- ADD DASHBOARD BTN -->
                    <li class="d-add-tab-li">
                        <a data-toggle="tab" href="#">
                            &nbsp;
                        </a>
                        <a href="javascript: void( 0 )" 
                            ng-click="openTab( $event, 'DASHBOARD' )" 
                            class="d-dashboard-remove-btn">
                                <i class="glyphicon glyphicon-plus pull-right"></i>
                        </a>
                    </li>
                </ul>
                <!-- DASHBOARD BUTTONS -->
                <ul class="d-control-btn-container pull-right">
                    <li ng-show="openDashboardIds.length > 0"  class="d-control-btn">
                        <a href="javascript: void( 0 )" ng-click="previewDashboard( $event )">
                            <i class="glyphicon glyphicon-eye-open"></i>
                        </a>
                    </li>
                    <li ng-show="openDashboardIds.length > 0"  class="d-control-btn">
                        <a href="javascript: void( 0 )" ng-click="saveDashboard( $event )">
                            <i class="glyphicon glyphicon-floppy-disk"></i>
                        </a>
                    </li>
                    <li ng-show="openDashboardIds.length > 0"  class="d-control-btn">
                        <a href="javascript: void( 0 )" ng-click="exportToLocalDisk( $event )">
                            <i class="glyphicon glyphicon glyphicon-save"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="d-tab-content-pane tab-content">
                <!-- TAB CONTENT -->
                <div id="{{ tab.id }}" 
                    class="d-dashboard-wrapper d-dashboard-wrapper-full tab-pane fade" 
                    ng-repeat="tab in openTabs track by tab.id">
                    <nj-dashboard ng-init="init()" ng-if="tab.type == 0"></nj-dashboard>
                    <nj-special-page ng-if="tab.type != 0"></nj-special-page>
                </div>
            </div>
            <!-- DATASET BUILDER -->
            <div class="full-height d-right-pane d-right-pane-hide">
                <nj-widget-prop></nj-widget-prop>
                <nj-widget-exp></nj-widget-exp>
                <div class="d-right-pane-footer">
                    <label class="pull-left">Widgets::{{ wExpGrLastClicked.label }}</label>
                    <a href="javascript: void( 0 )" 
                        class="pull-right" 
                        ng-click="toggleRightPane( $event )">
                        <i class="glyphicon glyphicon-remove"></i>
                    </a>
                 </div>
            </div>
        </div>
    </div>
    <div class="full-height d-main-control pull-right">
        <ul class="list-group full-height d-main-menu d-hf-menu">
            <li ng-show="openDashboardIds.length > 0" 
                ng-click="toggleRightPane( $event )"
                class="list-group-item clg-menu-item" >
                <a href="javascript: void( 0 )" 
                    class="clg-icons pull-left">
                    <i class="glyphicon glyphicon-align-justify"></i>
                </a>
                Data Sources
            </li>
            <li ng-show="openDashboardIds.length > 0" 
                class="list-group-item clg-menu-item" >
                <a href="javascript: void( 0 )" 
                    class="clg-icons pull-left">
                    <i class="glyphicon glyphicon-trash"></i>   
                </a>
                Widgets Explorer
            </li>
            <li ng-show="openDashboardIds.length > 0" 
                class="list-group-item clg-menu-item" >
                <a href="javascript: void( 0 )" 
                    class="clg-icons pull-left">
                    <i class="glyphicon glyphicon-remove"></i>  
                </a>
                Object Browser
            </li>
            <li ng-show="openDashboardIds.length > 0" 
                class="list-group-item clg-menu-item" >
                <a href="javascript: void( 0 )" class="clg-icons pull-left">
                    <i class="glyphicon glyphicon-eye-open"></i>    
                </a>
                Widgets Attributes
            </li>
        </ul>
    </div>
    <nj-data-set></nj-data-set>
    <div class="d-preview-wrapper" ng-show="preview">
            <a href="javascript: void( 0 )" ng-click="closePreview( $event )" style="
                    position: absolute;
                    right: 8px;
                    top: 8px;
                    background: #DDD;
                    padding: 7px 11px;
                    border-radius: 50%;
                    width: 35px;
                    height: 35px;">
                <i class="glyphicon glyphicon-remove"></i>
            </a>
        </div>
</div>
