<div class="w-draggable" 
    ng-init="init()" 
    ng-repeat="w in dashboardMap[ dId ].Layout.Widgets" 
    jq-draggable="widgetDragConfig">
    <div class="widget" 
        nj-cxt-menu="cxtMenuWidCfg"
        id="{{w.id}}"
        jq-resizable="widgetResizeConfig" 
        ng-click="onClickWidget( $event, w )" >
        <span>{{ w.wName }}</span>
        <div class="w-s-border" ng-show="w.selected">
            <div class="ui-resizable-handle ui-resizable-n r-handle r-handle-n"></div>
            <div class="ui-resizable-handle ui-resizable-ne r-handle r-handle-corner r-handle-ne"></div>
            <div class="ui-resizable-handle ui-resizable-e r-handle r-handle-e"></div>
            <div class="ui-resizable-handle ui-resizable-se r-handle r-handle-corner r-handle-se"></div>
            <div class="ui-resizable-handle ui-resizable-s r-handle r-handle-s"></div>
            <div class="ui-resizable-handle ui-resizable-sw r-handle r-handle-corner r-handle-sw"></div>
            <div class="ui-resizable-handle ui-resizable-w r-handle r-handle-w"></div>
            <div class="ui-resizable-handle ui-resizable-nw r-handle r-handle-corner r-handle-nw"></div>
        </div>
    </div>
</div>