<div class="w-draggable" 
    ng-if="w.Options != undefined"
    ng-style="$parent.getWidgetContainerStyle( $parent.w )"
    jq-resizable="widgetResizeConfig" 
    jq-draggable="wDragConfig">
    <div class="widget full-size" 
        nj-cxt-menu="cxtMenuWidCfg" 
        id="{{w.id}}" 
        ng-click="preventClick || onClickWidget( $event, w, dontClick )" >
        <div id="{{ 'CC_' + w.id }}" class="chart-container full-size"></div>
<!--         <div class=""> -->
<!--             <a href=""><i class="glyphicon glyphicon-plus"></i></a> -->
<!--         </div> -->
        <div class="w-s-border" 
            ng-class="{ 'ref-widget': isRefWidget( w ) }" ng-show="w.selected">
            <div class="ui-resizable-handle ui-resizable-n r-handle r-handle-n"></div>
            <div class="ui-resizable-handle ui-resizable-ne r-handle r-handle-corner r-handle-ne"></div>
            <div class="ui-resizable-handle ui-resizable-e r-handle r-handle-e"></div>
            <div class="ui-resizable-handle ui-resizable-se r-handle r-handle-corner r-handle-se"></div>
            <div class="ui-resizable-handle ui-resizable-s r-handle r-handle-s"></div>
            <div class="ui-resizable-handle ui-resizable-sw r-handle r-handle-corner r-handle-sw"></div>
            <div class="ui-resizable-handle ui-resizable-w r-handle r-handle-w"></div>
            <div class="ui-resizable-handle ui-resizable-nw r-handle r-handle-corner r-handle-nw"></div>
        </div>
    </div>
</div>